<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- CSS -->
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/vendor/jquery.mobile.min.css">
        <!-- Bootstrap -->
        <link href="../css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="../css/vendor/datepicker.css" rel="stylesheet">
    </head>
    <body align="center">
        <!-- Start of first page -->
        <div data-role="page" id="foo">
            <div data-role="header" class="ui-bar ui-bar-c">
                <a href="../index.html" >Back
                </a>
                <a href="mainMenuView.html" id ="home-btn">Home
                </a>
                <h1 id="nav-header"><img src="../img/logo-36.png"></h1>
            </div>
            <div data-role="content">
                <form class="form-horizontal" role="form">
                    <h3>Enter personal details...</h3>
                    <div class="form-group" name="input">
                        <label class="col-xs-4 control-label text-info" for="name">Name: </label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info" for="dob">Date of Birth: </label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="datepicker" data-date-format="mm/dd/yyyy" placeholder="Enter Your DOB">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info" for="nshno">NHS Number: </label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" name="nshno" id="nshno" placeholder="Enter NHS No.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info" for="gpemail">GP Email: </label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" name="gpemail" id="gpemail" placeholder="Enter GP Email">
                        </div>
                    </div>
                    <a class = "btn btn-info" type = "button" value="Next" href ="#bar" id="btn-next">Next</a>
                </form>
            </div>
            <div data-role="footer">
                <h4>BP Ease Demo</h4>
            </div>
        </div>
        <!-- Start of second page -->
        <div data-role="page" id="bar" data-add-back-btn="true">
            <div data-role="header" class="ui-bar ui-bar-c">
                <h1 id="nav-header"><img src="../img/logo-36.png"></h1>
                <a href="#foo" data-role="button" data-inline="true" data-corners="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-d" data-theme="c" >
                <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Back
                </span>
                </span>
                </a>
            </div>
            <div data-role="content">
                <form class="form-horizontal" role="form"  style = "margin: 10px 10px">
                    <h3 class = "text-info">Please enter your medical data...</h3>
                    <div class="form-group" name="input">
                        <label class="col-xs-6 control-label text-info" for="hypertension">Do you have hypertension?</label>
                        <div class="col-xs-6">
                            <select class="form-control">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" name="input">
                        <label class="col-xs-6 control-label text-info" for="arrythmia">Do you have a heart arrythmia?</label>
                        <div class="col-xs-6">
                            <select class="form-control">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="alert alert-info">If you have a heart arrythmia consult your doctor. This application may not be suitable for you.</div>
                    <p class = "text-info">Enter any medication taken...</p>
                    <textarea class="form-control" rows="5"type="text" name="Enter information" placeholder = "Enter Medication...">
                    </textarea>
                    <a  class = "btn btn-info btn-block" type = "button" href ="mainMenuView.html" style ="height: 50px;color: #FFFFFF;font-size: 22px;">Finish and Save</a>
                </div>
            </form>
        </div>
        <div data-role="footer">
            <h4>BP Ease Demo</h4>
        </div>
    </div>
    <script src="../phonegap.js" type="text/javascript"></script>
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/jquery.mobile.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/bootstrap-datepicker.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>