<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!-- JS -->
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/jquery.mobile-1.4.2.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/vendor/jquery.pageslide.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/vendor/bootstrap-theme.min.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/vendor/bootstrap.min.js"></script>
    </head>
    <body>
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="/icon.png" alt="logo.png">
                    <a class="navbar-brand">BPEase</a>
                    <a class="" href="/views/mainMenuView.html">Home</a>
                </div>
            </div>
        </div>
        <div id="reading-manual" class="container">
            <div class="container">
                <label for="date">Date: </label>
                <input type="text" name="date" id="date-dd" placeholder="DD">
                <input type="text" name="date" id="date-mm" placeholder="MM">
                <input type="text" name="date" id="date-yy" placeholder="YY">
            </div>
            <div class="container">
                <label for="time">Time: </label>
                <input type="text" name="time" id="time-hh" placeholder="HH">
                <input type="text" name="time" id="time-hh" placeholder="MM">
            </div>
            <a href="#" id="measurement-button-1">Start</a>
            <div class="container" id="prompts" class="right">
                <div id="prompt-1">Reading 1</div>
                <div id="prompt-2">Reading 2</div>
            </div>
            <div class="container">
                <span class="title left">Diatolic</span>
                <input type="text" name="reading-1" id="diastolic-reading-1"></input>
                <input type="text" name="reading-2" id="diastolic-reading-2"></input>
            </div>
            <div class="container">
                <span class="title left">Systolic</span>
                <input type="text" name="reading-1" id="systolic-reading-1"></input>
                <input type="text" name="reading-2" id="systolic-reading-2"></input>
            </div>
            <div class="container">
                <span class="title left">Pulse</span>
                <input type="text" name="reading-1" id="pulse-reading-1"></input>
                <input type="text" name="reading-2" id="pulse-reading-2"></input>
            </div>
            <div class="container">
                <span class="title left">BP</span>
                <input type="text" name="reading-1" id="bp-reading-1"></input>
                <input type="text" name="reading-2" id="bp-reading-2"></input>
            </div>
            <a href="" id="button-back" class="bottom">Back</a>
            <a href="#" id="button-save" class="bottom">Save</a>
        </body>
    </html>