<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- CSS -->
        <link rel="stylesheet" href="../css/vendor/jquery.mobile.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <!-- Bootstrap -->
        <link href="../css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="../css/vendor/datepicker.css" rel="stylesheet">
    </head>
    <body>
        <div data-role="page" id="foo">
            <div data-role="header" class="ui-bar ui-bar-c">
                <h1 id="nav-header"><img src="../img/logo-36.png"></h1>
                <a href="mainMenuView.html">Back
                </a>
            </div>
            <div data-role="content" class="container">
                <form class="form-horizontal" role="form" style = "position:relative; top:100px;margin: 10px 10px">
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info">Date:</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="date" name="date" min="2012-01-01" max="2013-01-01" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info">Time:</label>
                        <div class="col-xs-8">
                            <input class="form-control" name="usr_time" value="12:00" type="time">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 visible-xs"></div>
                        <div class="col-xs-4 text-info">Reading 1</div>
                        <div class="col-xs-4 text-info">Reading 2</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info">Diatolic:</label>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info">Systolic:</label>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info">Pulse:</label>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label text-info">Blood Pressure:</label>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" name="reading-1" type="text">
                        </div>
                    </div>
                    <div style = "position:fixed; bottom:10px;width:100%">
                        <a  class = "btn btn-info" type = "button" href ="#" onclick="javascript:history.back(1)" id="button-back">Back</a>
                        <a  class = "btn btn-info" id="button-save" type = "button" href ="mainMenuView.html">Save</a>
                    </div>
                </form>
            </div>
            <div data-role="footer">
                <h4>BP Ease Demo</h4>
            </div>
        </div>
        <script src="../phonegap.js" type="text/javascript"></script>
        <script src="../js/vendor/jquery.min.js"></script>
        <script src="../js/vendor/jquery.mobile.min.js"></script>
        <script src="../js/vendor/bootstrap.min.js"></script>
        <script src="../js/vendor/bootstrap-datepicker.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>