<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- CSS -->
        <link rel="stylesheet" href="../css/vendor/jquery.mobile.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <!-- Bootstrap -->
        <link href="../css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="../css/vendor/datepicker.css" rel="stylesheet">
    </head>
    <body>
        <div data-role="page" id="foo">
            <div data-role="header" class="ui-bar ui-bar-c">
                <h1 id="nav-header"><img src="../img/logo-36.png"></h1>
                <a href="mainMenuView.html">Back
                </a>
            </div>
            <div data-role="content" class="container" style="margin:15px;">
                <h2 class = "text-info">Records</h2>
                <div class="col-lg-6" >
                    <div class="input-group">
                        <input type="checkbox">
                        <a class = "btn btn-default text-info" type = "button" style = "width: 100%">00/00/00 - 00/00/00</a>
                    </div>
                </div>
                <a  class = "btn btn-info" type = "button" href ="#" onclick="javascript:history.back(1)" id="button-back" >Back</a>
                <a  class = "btn btn-info" type = "button" href ="#" >Delete</a>
                <a  class = "btn btn-info" type = "button" href ="#" >Send</a>
            </div>
            <div data-role="footer">
                <h4>BP Ease Demo</h4>
            </div>
        </div>
        <script src="../phonegap.js" type="text/javascript"></script>
        <script src="../js/vendor/jquery.min.js"></script>
        <script src="../js/vendor/jquery.mobile.min.js"></script>
        <script src="../js/vendor/bootstrap.min.js"></script>
        <script src="../js/vendor/bootstrap-datepicker.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>