#page2body {
	font-size : 100;
}


#bp-table1 {
   background-color: blue;
   border : 5px solid white;
   margin:-300px 450px;
}

#bp-table2 {
   background-color: blue;
   border : 5px solid white;
   margin:100px 450px;

}

#summary{
	margin : 500px 450px;
}

