
#bp-table1 {
  	 background-color: blue;
   border : 5px solid white;
   margin:-290px 450px;
   width : 30%;
}


#summary{
	margin : 500px 450px;
}

#bp-table2{
   background-color: blue;
   border : 5px solid white;
   width: 85%;
}


#page2body {
	font-size : 20;
	margin: 0px 200px;
}

#page3body{
	font-size : 20;
	margin: 0px 200px;
}


