
#bp-table1 {
   border : 1px solid white;
   position : absolute;
   left: 400px;
   top: 30px;
}


#summary{
	position:absolute;
	left: 400px;
	top: 50px;
}

#bp-table2{
   border : 1px solid white;
   position: absolute;
   left: 0px;
   top: 175px;
}


#page2 {
	font-size : 20;
	position: absolute;
	left: 100px;
	top: 400px;
}

#page3{
	font-size : 20;
	position: absolute;
	left: 100px;
	top: 600px;
}


