div.navbar{
    background-color: #5bc0de;
    border-color: #3fb5d8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#85d0e7), color-stop(0.33, 0%), color-stop(0.67, #5bc0de), to(100%));
    background-image: -webkit-linear-gradient(#85d0e7, 0%, #5bc0de, 100%);
    background-image: -moz-linear-gradient(#85d0e7, 0%, #5bc0de, 100%);
    background-image: -o-linear-gradient(#85d0e7, 0%, #5bc0de, 100%);
    background-image: linear-gradient(#85d0e7, 0%, #5bc0de, 100%);
    background-repeat: repeat-x;
}
a.btn-info:hover{
    color: #B9D5DD
}

#btn-next{
    height: 50px;
    font-size: 22px;
    width: 100%
}

.children{
    position: absolute;
    top: 40%;
    left:25%;
    margin:auto;
    width:50%;

}
#register-button,#menu-button
{
    width: 50%;
    font-size: 20px;
    border-radius: 8px;
}
div[data-role="content"]
{
    position: absolute;
    top:14%;
    width: 100%;
}
.normal
{
    height:62px;
    line-height: 62px !important;
    font-size: 22px;
    width:100%;
    margin-top:20px !important;
}
.half
{
    height:10%;
    font-size: 22px;
    width: 49%;
}
.glyphicon-th-list
{
    font-size: 200%;
    color: rgb(41,108,122);
}

.btn-white{
	color:#FFFFFF;
}

.brand{
    color: #ffffff;
    font-size: 27px;
    margin-top: 38px;
    margin-left: 18px;
}

.menu{
    margin:auto;
    top: 0 !important; left: 0; bottom: 0; right: 0;
    height:442px;
    width:369px !important;
}
.menu-btn{
    position: fixed;
    right: 14px;
    top: 28px;
}

.btn-measure{
    font-size: 12px;
}
.btn-back{
    margin-left: 6px;
}

.btn-info{
    font-size: 17px;
}

.btn-triple{
    width:32%;
}

.btn-mode{
    margin-top: 15px;
    height: 150px; 
    width: 100%;
    font-size: 28px;
    line-height: 150px !important;
}

.records-table tr td div.ui-checkbox{
    margin:0 !important;
}

#medication-p{
    border:1px solid #269abc;
    min-height: 100px;
    padding-top: 5px;
    padding-left: 5px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}